<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.r4sventures.motosaas"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:label="MotoSaaS"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Main Activity -->
<!--        <activity android:name="com.r4sventures.motosaas.MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name="com.r4sventures.motosaas.MainActivity"
            android:exported="true"

            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- Foreground Service -->
        <service
            android:name="com.r4sventures.motosaas.ProximityService"
            android:foregroundServiceType="camera|mediaProjection"
            android:exported="false"/>
        <service
            android:name="com.r4sventures.motosaas.OverlayWarningService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>
